* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Cascadia-Code {
  font-family: "Cascadia Code", sans-serif;
}
.Lacquer {
  font-family: "Lacquer", sans-serif;
}
.Coral-Pixels {
  font-family: "Coral Pixels", sans-serif;
}


html {
  font-size: 22px;
}

body {
  background-color: #21202e;
  font-family: "Cascadia Code", monospace;
  color: #a277ff;
  font-size: clamp(0.5rem, 4vw, 1rem);
  line-height: 1.5;
  padding: 0.5rem;
  background-image: url('./assets/white-diamond.png');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
 
}



.homepage {
 
  padding: 4rem 0;
 
}

.panel {
  background-color: rgba(13, 12, 26, 0.6);
  padding: 2rem;
  border-radius: 8px;
  max-width: 1200px;
  margin: 4rem auto;
  display: flex;
  flex-direction: columns;
  flex-wrap: wrap;
  gap: 1rem;
  transition: all 1s ease;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  text-align: center;
}

.panel.in-view {
  box-shadow: 0 0 20px 5px rgba(130, 226, 255, 0.6);
  z-index: 1;
}

.panel > .text-content {
  flex: 1 1 300px;
  min-width: 80%;
}

.panel > img {
  flex: 1 1 200px;
  max-width: 100%;
  min-width: 80%;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
  text-align: left;
  
}


h1 {
  color: #4dffca;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  text-shadow: 2px 2px 4px rgba(162, 119, 255, 1);
  margin-bottom: 0.3rem;
  
  
}
h2 {
  color: #f694ff;
  font-size: 1.8rem;
  line-height: 1;
}
h3 {
  color: #f694ff;
  font-size: clamp(0.5rem, 4vw, 1rem);
  line-height: 1.6;
  margin-bottom: 0.6rem;
  text-align: left;
}
p, span, li {
  color: #a277ff;
  font-size: clamp(0.5rem, 4vw, 0.7rem);
  margin-top: 1.5rem;
  margin-bottom: 0.1rem;
  text-align: left;
  
}

a {
  color: #4dffca;
  text-decoration: none;
  font-size: clamp(0.5rem, 4vw, 0.7rem);
}
a:hover {
  color: #82e2ff;
  text-decoration: underline;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem; 
}

.skills-list h3 {
  text-align: left;
}


button {
  background-color: #a277ff;
  color: white;
  border: none;
  padding: 0.6em 1.2em;
  margin: 0.5em 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: clamp(0.5rem, 4vw, 1rem);
  font-family: "Cascadia Code";
}
button:hover {
  background-color: #f694ff;
}

/*.header-panel, .image-wrapper, .header-text {
  outline: 1px solid rgba(255, 255, 255, 0.2);
}*/

.header-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 100%;
  
 
}

.image-wrapper, .header-text {
  flex: 1;
  min-width: 150px;
}

.header-text {
  display: flex;
  flex :2;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header-text h1  {
  margin: 0;
  line-height: 1.2;
  
 
}

header-text h2 {
  margin: 0;
  line-height: 1.2;
  text-align: center;
  
}

.image-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  margin: 0;
  width: 150px;
  height: 150px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 8px;
  max-width: 150px;
  }



.hover-image {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
  transition: opacity 0.3s ease;
  border-radius: 14px;
  

  
}

.hover-image.hover {
 
  opacity: 0;
  z-index: 2;
  
}

.header-panel:hover .hover-image.hover {
  opacity: 1;
}

.header-panel:hover .hover-image.base {
  opacity: 0;
}







@media (max-width: 768px) {
  .header-panel {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
  }

  .header-text {
    align-items: center;
  }
  .header-text h1 {
    font-size: 1.2rem;
    
  }

  .header-text h2 {
    font-size: 1.0rem;
    
  }

  .panel {
    flex-direction: column;
    align-items: center;
    width: 80vw;
    max-width: none;
    margin: 2rem 1rem;
    padding: 1.5rem;
  }

  .panel > .text-content {
    min-width: 100%;
  }

  .image-wrapper {
    margin-bottom: 1rem;
  }

  .homepage {
    padding: 2rem 0;
  }

  h1, h2, h3 {
    font-size: clamp(0.7rem, 4vw, 1.4rem);
  }

  p {
    font-size: clamp(0.5rem, 4vw, 0.875rem);
  }


}

