* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Cascadia-Code {
  font-family: "Cascadia Code", sans-serif;
}
.Lacquer {
  font-family: "Lacquer", sans-serif;
}
.Silkscreen {
  font-family: "Silkscreen", sans-serif;
}


html {
  font-size: 22px;
}

body {
  background-color: #21202e;
  font-family: "Cascadia Code", monospace;
  color: #a277ff;
  font-size: clamp(0.5rem, 4vw, 1rem);
  line-height: 1.5;
  padding: 0.5rem;
  background-image: url('./assets/white-diamond.png');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
 
}



.homepage {
 
  padding: 4rem 0;
 
}

.panel {
  background-color: rgba(13, 12, 26, 0.6);
  padding: 2rem;
  border-radius: 8px;
  max-width: 1200px;
  margin: 4rem auto;
  display: flex;
  flex-direction: columns;
  flex-wrap: wrap;
  gap: 1rem;
  transition: all 1s ease;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  
}

.panel.in-view {
  box-shadow: 0 0 20px 5px rgba(130, 226, 255, 0.6);
  z-index: 1;
}

.panel > .text-content {
  flex: 1 1 300px;
  min-width: 80%;
}

.panel > img {
  flex: 1 1 200px;
  max-width: 100%;
  min-width: 80%;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
  text-align: left;
  justify-content: space-evenly;
  
}


h1 {
  color: #4dffca;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  text-shadow: 2px 2px 4px rgba(162, 119, 255, 1);
  margin-bottom: 0.3rem;
  
  
}
h2 {
  color: #f694ff;
  font-size: 1.8rem;
  line-height: 1;
}
h3 {
  font-family: "Silkscreen";
  color: #f694ff;
  font-size: clamp(0.7rem, 4vw, 1.2rem);
  line-height: 1.6;
  margin-bottom: 0.6rem;
  text-align: left;
}

.homepage p
 { 
  color: #a277ff;
  font-size: clamp(0.5rem, 4vw, 0.7rem);
  margin-top: 1.5rem;
  margin-bottom: 0.1rem;
  text-align: left;
  
}

a {
  color: #4dffca;
  text-decoration: none;
  font-size: clamp(0.5rem, 4vw, 0.7rem);
}
a:hover {
  color: #82e2ff;
  text-decoration: underline;
}

.skills-list {
  font-family: 'Silkscreen';
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem; 
}

.skills-list h3 {
  text-align: left;
}


button {
  background-color: #a277ff;
  color: white;
  border: none;
  padding: 0.6em 1.2em;
  margin: 0.5em 0;
  cursor: pointer;
  border-radius: 4px;
  font-size: clamp(0.5rem, 4vw, 1rem);
  font-family: "Cascadia Code";
}
button:hover {
  background-color: #f694ff;
}

/*.header-panel, .image-wrapper, .header-text {
  outline: 1px solid rgba(255, 255, 255, 0.2);
}*/

.header-panel {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  max-width: 100%;
   
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: left;
  gap: 0.5rem;
  
}

.header-top {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}

.header-text h1  {
  margin: 0;
  line-height: 1.2;
   
}

header-text h2 {
  margin: 0;
  line-height: 1.2;
  text-align: center;
  
}

.image-wrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  margin: 0;
  width: 150px;
  height:150px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;

  }



.hover-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
  transition: opacity 0.3s ease;
  border-radius: 14px;
  

  
}

.hover-image.hover {
  opacity: 0;
  z-index: 2;
}

.header-panel:hover .hover-image.hover {
  opacity: 1;
}

.header-panel:hover .hover-image.base {
  opacity: 0;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-items: center;
  align-items: center;
  padding-top: 1rem;
}

.icon-grid i {
  font-size: 2.5rem;
  color: #a277ff;
  transition: transform 0.2s ease;
}

.icon-grid i:hover {
  transform: scale(1.2);
  color: #4dffca;
}

.icon-grid img.tech-icon {
  width: 2.5rem;
  height: 2.5rem;
  
  color: #a277ff;
  fill: currentColor;
  transition: transform 0.2s ease;
}

.icon-grid img.tech-icon:hover {
  transform: scale(1.2);
  
  color: #4dffca;
  fill: currentColor;
}

.icon-grid > :last-child:nth-child(odd) {
  grid-column: span 2;
  justify-self: center;
}

.tech-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #a277ff;
  
  cursor: pointer;
  transition: transform 0.2s ease;
}

.devicon-react-original {
  position: relative;
  margin-bottom: 1rem;
  z-index: 1;
}

.phaser-logo {
  transform: scale(1.2) translateX(-0.2rem) translateY(0.2rem);
  
}

.tech-icon:hover {
  transform: scale(1.2);
  color: #4dffca;
}

.phaser-logo:hover {
  transform: scale(1.4) translateX(-0.2rem) translateY(0.2rem);
  
}

.grid-divider {
  grid-column: span 3; 
  height: 2px;
  background-color: #4dffca;
  width: 60%;
  justify-self: center; 
  margin: 1rem 0;
}

.custom-tooltip {
  background-color: #281d3f !important;
  color: #4dffca !important;
  font-family: 'Cascadia Code', monospace !important;
  font-size: 0.6rem !important;
  border-radius: 4px !important;
  padding: 0.5rem !important;
  max-width: 200px !important;
  line-height: 1.2 !important;
  box-shadow: 0 0 20px 5px rgba(246, 148, 255, 0.6) !important;
}

.custom-tooltip span {
  color: #4dffca !important;
}

.tooltip-trigger {
  position: relative;
  z-index: 1;
  color: #4dffca;
  font-family: 'Cascadia Code', monospace;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-panel {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    
        
  }

  .image-wrapper {
  display: flex;
  flex-shrink: 0;
  position: relative;
  padding: 0;
  margin: 0;
  margin-right: -35px;
  width: 125px;
  height:125px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 8px;

  }

.hover-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
  transition: opacity 0.3s ease;
  border-radius: 14px;
  

  
}

  .header-text {
    align-items: center;
    text-align: left;
    margin-top: -20px;
  }



  .panel {
    flex-direction: column;
    align-items: center;
    width: 80vw;
    max-width: none;
    margin-bottom: 20rem;
    margin-left: 1.2rem;
    margin-top: 1rem;
    
    padding: 2.5rem;
  }

  .panel > .text-content {
    min-width: 100%;
  }

  .image-wrapper {
    margin-bottom: 1rem;
  }

  .homepage {
    padding: 2rem 0;
  }

  h1, h2 {
    font-size: clamp(0.8rem, 4vw, 1.4rem);
    line-height: 0.8rem;
    margin-top: -5px;
  }

  .skills-list {
    gap: 0rem;
  }
  h3 {
  line-height: 1.0rem;
  font-size: 0.6rem;

  }

  p {
    font-size: clamp(0.5rem, 4vw, 0.875rem);
  }

      .icon-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .icon-grid > :last-child:nth-child(odd) {
      grid-column: span 2;
      justify-self: center;
    }
  
    .grid-divider {
      grid-column: span 2; 
      width: 80%;
      height: 1px;
    }
  

}

